body{ 
    background-image:url('https://depositphotos.com/es/photos/sabana-verde.html');
}

header{
    background-color: cadetblue;
}

footer{
    background-color:cadetblue;
}

img{
   width:500px;
   height: 200px;
}

#container1{
   background-color: azure;
   text-align: center;
}
#container2{
   background-color: rgb(169, 180, 196);
   text-align: right;
}
